*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'poppins';

}
body{
    background: linear-gradient(0deg, #4C1198 -14.17%, #3426AE 95.5%, #173EC8 119.1%);
    background-attachment: fixed;  
     
}
header{
    display: flex;
    justify-content: space-between;
    margin: 100px; 
}
 a{
    text-decoration: none;
    margin: 30px;
}
.logo img{
    width: 11px;
height: 16.82px;
}
nav li{
    display: inline-block;
}
main{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
h1{
    width: 400px;
    line-height: 84px;
    font-weight: 600;
    font-size: 56px;
}
p{
    width: 275px;
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 18px;
}
button{
    background: linear-gradient(90deg, #C436B9 -9.67%, #1FC4E0 113%);
    width: 150px;
    height: 48px;
    font-size: 18px;
    border-radius: 50px;
    border-style: none;
}
.image{
width: 463px;
height: 510px;
}
